/Output/
/DebugOutput/
/Test_QA/
/NugetImport_richtext/
/LabPlayer/
*.DS_Store
/LabPlayer_en/
/ipa_output/
/framework_output/
/HotUpdateProject~
/Tool/UpdateTool/UpdateTool/obj
/Tool/UpdateTool/UpdateTool/bin
/Tool/UpdateTool/.vs
/.vs/
/U3DProject/HybridCLRData/HotUpdateDlls
/U3DProject/HybridCLRData/LocalIl2CppData-WindowsEditor
/U3DProject/HybridCLRData/StrippedAOTDllsTempProj
/U3DProject/HybridCLRData/SLocalIl2CppData-OSXEditor
/U3DProject/HybridCLRData/StrippedAOTDllsTempProj
/U3DProject/HybridCLRData/LocalIl2CppData-OSXEditor
/U3DProject/UserSettings
/LabPlayer_BurstDebugInformation_DoNotShip
U3DProject/Assets/StreamingAssets/IndependentParamsConfig.json
U3DProject/Assets/StreamingAssets/IndependentParamsConfig.json.meta
/UnityGameDevelopmentBookSample/.vs
/UnityGameDevelopmentBookSample/Library
/UnityGameDevelopmentBookSample/Logs
/UnityGameDevelopmentBookSample/obj
/UnityGameDevelopmentBookSample/UserSettings
/UnityGameDevelopmentBookSample/*.csproj
/UnityGameDevelopmentBookSample/*.sln
/UnityGameDevelopmentBookSample/*.vsconfig
